#newQuaCICDProject {
    text-decoration: underline;
}

#newQuaCICDProject:hover {
    text-decoration: none;
    cursor: pointer;
}

.title-QuaCICD {
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.quaCICD-div {
    flex: 50%;
}

.quaCICD-form {
    display: flex;
}

.project-header {
    display: flex;
}

#quaCICD-git-clone {
    margin-left: 10px;
}

#quaCICD-git-clone-input {
    margin-left: 5px;
    border-radius: 5px;
}

.filter-box-component {
    flex-basis: 730px;
}

.accordion-title-comment-conflict {
    font-size: 0.8em;
    cursor: pointer;
    margin-top: 10px;
    color: blue;
}

.accordion-content-comment-conflict {
    padding: 15px;
    background-color: #fbfbfb;
    border: groove;
}